.progress-bar {
  display: flex;
  align-items: center;
  user-select: none;
  width: 50%;
}

.bar-progress {
  flex: 1;
  border: none;
  border-radius: 5px;
  margin: 0 20px;
  height: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
}
