.audio-player {
  position: relative;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30%;

  display: flex;
  justify-content: center;
}

.bottom-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;

  display: flex;
  justify-content: center;
}

.player-button {
  background-color: rgb(171, 255, 149);
  height: 30px;
}

.progress-bar {
  display: flex;
  align-items: center;
  user-select: none;
  width: 50%;
}

.bar-progress {
  flex: 1;
  border: none;
  border-radius: 5px;
  margin: 0 20px;
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right-controls {
  z-index: 1;
  position: absolute;
  right: 5%;
  left: 85%;
  top: 30%;
}

.left-controls {
  position: absolute;
  right: 85%;
  left: 2%;
  top: 10%;
}
