div .fields {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  overflow-x: auto;
  padding-top: 1rem;
}

strong {
  margin-right: 5px;
}

strong {
  text-align: justify;
  display: inline;
}
